.container {
    width: 100%;
    text-align: center;
    padding: 60px 50px 15px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
}

.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input {
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid #c2c2c2;
    background-color: #e6e6e6;
}

.button {
    margin: 5px 0 20px;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #0095F6;
}

.button:hover {
    background-color: #1877F2;
}

.span {
    color: #707070;
}

.facebook {
    margin-top: 20px;
}

.facebook img {
    width: 20px;
    margin-right: 5px;
}

.facebook a {
    font-weight: bold;
    color: #405D99;
    text-decoration: none;
}

.esqueci {
    font-size: .8em;
    text-decoration: none;
    color: #405D99;
}