.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
    padding: 0 10px 0 30px;
}

.options {
    display: flex;
    align-items: center;
}

.nome {
    font-weight: 500;
    font-size: 14px;
}

.dot {
    font-size: 6px;
    padding: 0 6px;
}

.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #0095F6;
}